@use "../../assets/styles/index" as v;

.button {
	$wh: 2vw;
	width: $wh;
	height: $wh;

	max-height: $wh;
	max-width: $wh;

	* {
		mask-repeat: no-repeat;
		background: v.$accent-color;
		width: 80%;
		height: 80%;
	}

	background-color: v.$primary-color;
	border-radius: 7px;
	border: 2px solid v.$secondary-color;

	display: flex;
	justify-content: center;
	align-items: center;

	transition: background-color 0.1s linear, border-color .1s linear;
	transition-delay: 50ms;

	&:hover {
		border-color: v.$accent-color;
		background-color: v.$background-color;
		cursor: pointer;
	}
}
