@use "../../../assets/styles/index" as v;

.addButton {
	@include v.Button;

	div {
		mask-image: url("../../../assets/images/plus.svg");
		-webkit-mask-image: url("../../../assets/images/plus.svg");
		background: v.$accent-color;
		width: 80%;
		height: 80%;
	}

	&:hover {
		background-color: v.$background-color;
		cursor: pointer;
	}

}
