@use "../../assets/styles/index" as v;

.header {
	display: flex;
	justify-content: space-around;
	align-items: center;

	padding: 20px 0;
	background-color: v.$secondary-color;

	h1 {
		font-weight: bold;
		margin: 0 40px 0 0;
	}

	&:last-child {
		margin-right: 60px;
	}
}
