@use "../../../assets/styles/index" as v;

.homeButton {

	@include v.Button;

	a {
		mask-image: url("../../../assets/images/home.svg");
		-webkit-mask-image: url("../../../assets/images/home.svg");
		background: v.$accent-color;
		width: 80%;
		height: 80%;
	}

	&:hover {
		background-color: v.$background-color;
		cursor: pointer;
	}
}
