@use "../../../assets/styles/index" as v;

.removeButton {
	@include v.Button;

	width: 30px;
	height: 30px;

	margin: 20px 0;

	div {
		mask-image: url("../../../assets/images/remove.svg");
		-webkit-mask-image: url("../../../assets/images/remove.svg");
		background: v.$accent-color;
		$wh: 80%;
		width: $wh;
		height: $wh;
	}
}
