$background-color: #252422;
$primary-color: #CCC5B9;
$secondary-color: #403D39;
$accent-color: #EB5E28;
$white: #FFFCF2;

body {
	margin: 0;
	font-family: -apple-system, sans-serif;
	background-color: $background-color;
	color: $white;
}

@mixin customInput {
	font-size: 14pt;
	border: 2px solid $background-color;
	border-radius: 5px;

	transition: border-color .1s linear;

	&:focus {
		outline: none;
		border-color: $accent-color;
	}
}

@mixin customButton {
	background-color: $primary-color;
	font-size: 14pt;
	border: 2px solid $background-color;
	border-radius: 5px;
	padding: 2px;
	transition: border-color .1s linear, color .1s linear, background-color .1s linear;

	&:hover {
		cursor: pointer;
		background-color: $background-color;
		color: $accent-color;
		border-color: $accent-color;
	}
}
